.open-sans-normal> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* nav styles */

  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
  }

 
  .nav-title{
    font-weight:800 ;
    font-size: 50px;
  }

  nav ul li{
    list-style: none;
  }

  nav ul a{
    text-decoration: none;
    font-size: 25px;
  }

  nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
  }

 

 

  /* shared styles */

  .text-primary{
    color: #FD6E0A;
  }
  .dark{
   color: #474747; 
  }
  .btn-primary{
    border-radius: 5px;
background: rgb(253, 110, 10);
border: none;
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 25px;
font-weight: 700;

text-align: center;
padding: 15px 32px;

  }
  


  